.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/plugins/s3-image-uploader/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspace.json
.obsidian/hotkeys.json
.quartz-cache
private/
.replit
replit.nix
