@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    & > .meta {
      margin: 0;
      opacity: 0.6;
      font-size: 0.9rem;
    }

    & > .desc {
      margin: 0;
      
      & > h3 {
        margin: 0;
        
        & > a {
          background-color: transparent;
        }
      }
    }

    & > .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: flex-start;

      & > li {
        margin: 0;
        padding: 0;
        
        & > a.internal.tag-link {
          display: inline-block;
          padding: 0.2rem 0.4rem;
          background-color: var(--highlight);
          border-radius: 4px;
          font-size: 0.85rem;
          color: var(--dark);
          text-decoration: none;
          transition: background-color 0.15s ease;

          &:hover {
            background-color: var(--secondary);
            color: var(--light);
          }
        }
      }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .tags {
    display: none;
  }
}
