body{
  --font-smallest: 0.8em;
  --font-smaller: 0.9em;
  --font-small: 1em;
  --font-ui-smaller: 12px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;
  --font-ui-large: 18px;
  --line-height-normal:1.8;
  --line-height-tight:1.6;
}